/* Estilos básicos */
body {
    font-family: sans-serif;
    margin: 0;
    background-image: url(../imagenes/fondo.png);
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-decoration: none;
    color: black;
    background-color: aqua;
    margin: auto;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgba(75, 61, 29, 0.95);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

main {
    padding: 30px;
}

h2 {
    color: #66593b; /* Cambia el color de los encabezados para mejorar la visibilidad */
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #807242;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #666234df;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(75, 61, 29, 0.95);
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgb(95, 81, 44);
	color: #fff
}


.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgba(255, 0, 0, 0.642);
	color: #fff
}

/* Media query para pantallas pequeñas */
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0;
    }
}
