/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #4d3a23; /* Café claro */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../imagenes/fondo.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(75, 61, 29, 0.95); /* Fondo marrón */
    padding: 2px;
    width: 100%;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: bold;
    margin: 0 15px;
    color: rgb(14, 14, 14);
    text-decoration: none;
}

nav a:hover {
    color: #FFD700; /* Dorado */
}

main {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

h2 {
    color: #ffffff; /* Marrón oscuro */
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(75, 61, 29, 0.826); /* Fondo claro para las secciones */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(251, 248, 248, 0.1);
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bb7b4d; /* Fondo para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #614929cc;
    border-radius: 5px;
    background-color: #F4E5D6;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #FFD700;
    background-color: #FFF;
}

